* {
  box-sizing: border-box;
  font-family: -apple-system, system, sans-serif;
}
.tables {
  display: flex;
}
td {
  cursor: default;
}
tr.selected td {
  background-color: cornflowerblue;
  color: white;
}