<ul>
  <li><a href="/services">Services</a></li>
  <li>Checks
    <ul>
      <li><a href="/checks/table">Table</a></li>
      <li><a href="/checks/workspace">Workspace</a></li>
    </ul>
  </li>
</ul>
<div class="main-layout"></div>
